<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
		<title>Search Users_products</title>
	</head>
	<body>
		<h1>Type name_surname of the user you want to see what has bought e.g 'John_Doe'</h1>
		<div  id="center1" class="first-divs">	
			<form id="search_results" method="post">
				<input id="search_person" type="text" placeholder="Search..." name="search">
				<input id="search" class="beautiful_button" value="Search" type="submit">
			</form>
			{% if users|length >= 1 %}
				<h3>List User</h3>
				<table>
					<tr>
						<th>full_name</th>
					</tr>
					{% for user in users %}
						<tr>
							<td>{{user.full_name}}</td>
						</tr>
					{% endfor %}
				</table>
				<br>
			{% else %}
				<h1>There is no user yet to see info</h1>
			{% endif %}
		</div>
	</body>
</html>

